.page{
  display:flex;
 width:80%;
  flex-direction: column;
  background-color:#ffffff;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;

}
.detailBox{

  display:flex;
  flex-direction: row;
  
 
}
.title{
  flex:flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:90%;
}