.boxContainer{
  /* width:150px;
  height:100px; */
  border-radius: 20px;
  background-color: #F2F2F2;
  margin:10px;
}
.titleText{
  margin:10px;
  margin-top:8px;
}
.dataBox{
 text-align: center;

  
}