.page{
  display:flex;
 width:80%;
  flex-direction: column;
  background-color: #FFFFFF;
  justify-content: flex-start;
  align-items: flex-start;


}
.emBtns,.otherBtns,.areaGroup{

  display:flex;
  flex-direction: row;
  
 
}
.usageTitle,.areaTitle{
  flex:flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #FAFAFA;
  width:90%;
}