.page{
  display:flex;
 width:80%;
  flex-direction: column;
  background-color: #FFFFFF;
 
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
  

}
.emBtns,.otherBtns,.areaGroup{


  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
 
}
.usageTitle,.areaTitle{
  flex:flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: #FAFAFA; */
  width:90%;
}
.loadingPlaceholder{
  font-size:12px
}
